.container{
    text-align: center;
}
.start-btn{
    margin-top: 50px;
}
.brand-logo{
    margin-left: 20px;
}
.container p{
    font-weight: 600;
}
.hashtag-list li{
    display: inline;
    font-style: italic;
}
.upload-container h4{
    padding: 40px;
}
.upload-container p{
    padding-bottom: 40px;
}
.menu-container p{
    padding: 40px;
}
.data-container .data-list p{
    padding-top: 40px;
    padding-bottom: 20px;
}
.data-container .data-sections{
    width: 100%;
    padding-top: 40px;
}
.data-sections table{
    width: 400px;
    margin-left: 20px;
}
/*.container a{*/
    /*padding: 15px;*/
    /*color: pink;*/
    /*text-decoration: none;*/
    /*border: 2px solid #000;*/
    /*position: absolute;*/
    /*top:50%;*/
/*}*/